# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.dso.dk
AuthUserFile /home/d/s/ftp_dsodk/_vti_pvt/service.pwd
AuthGroupFile /home/d/s/ftp_dsodk/_vti_pvt/service.grp
